In [1]:
x = 10
a, b, c = 100, 200, 300

print(x)
print(a, b, c)

10
100 200 300

In [2]:
x= 20
print(x)
print(a, b, c)

20
100 200 300

In [3]:
type(10)

int

In [4]:
type(3.5)

float

# 연산자

In [5]:
a = 2
b = 3

a**b

8

In [6]:
a//b

0

In [9]:
10 % 3

1

In [17]:
a, b = 7, 3.0


c = a//b
d = a % b
e = a**b

print(c)
print(d)
print(e)

2.0
1.0
343.0

In [18]:
mike = 80
judy = 75
sera = 100

int((mike + judy + sera)/3)

85

In [22]:
'a' == 'a'

True

# 논리연산

In [23]:
(1<2) and (-1>2)

False

In [24]:
(1<2) or (-1>2)

True

In [26]:
not True

False

In [29]:
print(bool(2))
print(bool(-1))

True
True

In [28]:
print(bool(0))
print(bool(0))

False
False

In [6]:
num1 = int(input("입력1: "))
type(num1)

입력1: 5

int

In [7]:
num2 = int(input("입력2: "))

입력2: 66

In [8]:
num3 = int(input("입력3: "))

입력3: 68

In [10]:
print(num1>65 and num2>65 and num3>65)

False

### None

## 문자열

In [11]:
single = "안녕하세요"
print(type(single))

<class 'str'>

In [14]:
multi = """
안녕하세요
잘 부탁드립니다
"""

print(multi)
print(type(multi))

안녕하세요
잘 부탁드립니다

<class 'str'>

In [24]:
a = 'hello'
b = 'world'

a+b

'helloworld'

In [25]:
a*3

'hellohellohello'

In [26]:
print("hello\nworld")

hello
world

In [28]:
print("hello\'world")

hello'world

In [31]:
quote = 'hello world!'
quote[0]

'h'

In [32]:
quote[1:4]

'ell'

In [36]:
quote[1:7:3]

'eo'

In [43]:
name = "김현지"
name = '하하히히'
intro = "안녕하세요. 저는 %s입니다." % name

print(intro)

안녕하세요. 저는 하하히히입니다.

In [46]:
age = 12
intro = '안녕하세요 저는 %s살 입니다.' % age
print(intro)

안녕하세요 저는 12살 입니다.

In [50]:
height = 12.3
intro = '안녕하세요 저는 %.1f살 입니다.' % height
print(intro)

안녕하세요 저는 12.3살 입니다.

In [53]:
quote ='안녕하세요 저는 %s이고 키는 %s 입니다.' % ('큐큐', '190')
quote

'안녕하세요 저는 큐큐이고 키는 190 입니다.'

In [58]:
quote ='안녕하세요 저는 {0}이고 키는 {1}입니다.' .format ('큐큐', '190')
quote

'안녕하세요 저는 큐큐이고 키는 190입니다.'

In [59]:
quote ='안녕하세요 저는 {0:<10}이고 키는 {1}입니다.' .format ('큐큐', '190')
quote

'안녕하세요 저는 큐큐        이고 키는 190입니다.'

In [63]:
name = '김현지'
loc = 'suwon'

intro = f"저는 {name}이고 {loc}에 삽니다"

print(intro)

저는 김현지이고 suwon에 삽니다

In [70]:
a = '20190505chicken1900'

year = a[0:4]

day = a[4:8]

menu = a[8:15]

print(year, day, nmenu, money, sep,)

2019 0505

In [78]:
a = "90:30:80"

math = a[:2]
english = a[3:5]
science a[6:]

average = (int(math) + int(english) + int(science) / 3

print(average)

SyntaxError: invalid syntax (<ipython-input-78-0c70aaa48215>, line 5)

In [82]:
quote = 'my best carrer partner'

quote2 = 'hello'
len(quote2)

5

In [86]:
quote2.index('l')

2

In [ ]:
upper_quote.lower()

In [87]:
quote2

'hello'

In [89]:
quote2.replace('he','hi')

'hillo'

In [90]:
quote = "   " + quote
quote

'   my best carrer partner'

In [91]:
quote.strip()

'my best carrer partner'

In [92]:
quote= quote + "    "
quote

'   my best carrer partner    '

In [93]:
fruits = '1,2,3'
fruit_list = fruits.split(',')
fruit_list

['1', '2', '3']

In [94]:
len(fruit_list)

3

In [95]:
':'.join(fruit_list)

'1:2:3'

In [99]:
a = '90:30:80'

math, english, science = a.split(":")

average = (int(math) + int(english) + int(science)) / 3

print(average)

66.66666666666667

In [ ]:
a =

In [112]:
dict_me = {
    'name' : 'R'.
    'height' : 180.
    'adress': 'seoul'.
    
}
    
dict_me

SyntaxError: invalid syntax (<ipython-input-112-a98c62845f03>, line 4)

In [113]:
a = [1, 2, 3, 4]
b = (1, 2, 3, 4)

print(a[2])

3

In [115]:
a = [1]
new_list = a

In [ ]:
empty_list

    ### 다차원리스트

In [ ]:
dim/len/ import

In [1]:
stud = [1,2,3]
stud

[1, 2, 3]

In [2]:
tupel = (1,2,3,4,5)
tupel

(1, 2, 3, 4, 5)

### IF

In [9]:
a = 10
if a==10:
    print("코드가 실행되었습니다.")

코드가 실행되었습니다.

In [10]:
str_1 = "iife is too short"
str_1

'iife is too short'

In [12]:
if str_1:

    print("실행되었습니다")

실행되었습니다

In [13]:
inf none:
    print("이건N이에요")

SyntaxError: invalid syntax (<ipython-input-13-1484d83795f9>, line 1)

In [2]:
a = input("정수 1: ")
b = input("정수 2: ")
c = input("정수 3: ")

a = int(a)
b = int(b)
c = int(c)

if(a+b+c)/3>65:
    print("합격")
    elseif
    print("불합격")
else:
    print("잘못된 점수가 입력되었습니다")

정수 1: 10
정수 2: 10
정수 3: 10
잘못된 점수가 입력되었습니다

In [4]:
a = input("정수 1: ")
b = input("정수 2: ")
c = input("정수 3: ")

a = int(a)
b = int(b)
c = int(c)

if a not in range(101) or b not in range(101) or c not in range(101):
    print("합격")
    elseif
    print("불합격")
else:
    print("잘못된 점수가 입력되었습니다")

정수 1: 10
정수 2: 10
정수 3: 10
잘못된 점수가 입력되었습니다

In [13]:
a = int(input("정수를 입력해주세요: "))

if a==0:
    print("0은 애매합니다")
elif a % 2 ==1:
    print("홀수 입니다")
else:
    print("홀수 입니다")

정수를 입력해주세요: 0
0은 애매합니다

In [16]:
a = int(input("정수를 입력해주세요: "))

if a==0:
    print("0은 애매합니다")
elif a % 2 ==1:
    print("%d 은 홀수 입니다"% (a))
else:
    print("%d 는 짝수 입니다"% (a))

정수를 입력해주세요: 4
4 은 짝수 입니다

In [19]:
for i in range(10):

    print("ㅎㅈㄱ:", 1)

ㅎㅈㄱ: 1
ㅎㅈㄱ: 1
ㅎㅈㄱ: 1
ㅎㅈㄱ: 1
ㅎㅈㄱ: 1
ㅎㅈㄱ: 1
ㅎㅈㄱ: 1
ㅎㅈㄱ: 1
ㅎㅈㄱ: 1
ㅎㅈㄱ: 1

In [4]:
a = int(input("정수를 입력해주세요:"))
for i in range(a):
    print("안녕")

정수를 입력해주세요:5
안녕
안녕
안녕
안녕
안녕

In [10]:
a = int(input("정수를 입력해주세요:"))
for i in range(1, a+1):
    print("*" *(i))

정수를 입력해주세요:5
*
**
***
****
*****

In [ ]:
a = int(input("정수를 입력해주세요:"))
for i in range(a,0,-1):
    print("*" * (i))

In [ ]:
i = range()
for i in range(1,101):
    if i%3==0:
        A = ????????
    elif i*5<=100
        B = i*5

In [ ]:

a = i*3
b = i*5
c = a&b

In [4]:
i = list(range(1,101))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [7]:
for a in range(1,101):
    if a%3==0 and a%5==0:
        print("3과 5의 공배수")
    elif a%3==0:
        print("3배수")
    elif a%3==0:
        print("3배수")
    else:
        print(a)

1
2
3배수
4
5
3배수
7
8
3배수
10
11
3배수
13
14
3과 5의 공배수
16
17
3배수
19
20
3배수
22
23
3배수
25
26
3배수
28
29
3과 5의 공배수
31
32
3배수
34
35
3배수
37
38
3배수
40
41
3배수
43
44
3과 5의 공배수
46
47
3배수
49
50
3배수
52
53
3배수
55
56
3배수
58
59
3과 5의 공배수
61
62
3배수
64
65
3배수
67
68
3배수
70
71
3배수
73
74
3과 5의 공배수
76
77
3배수
79
80
3배수
82
83
3배수
85
86
3배수
88
89
3과 5의 공배수
91
92
3배수
94
95
3배수
97
98
3배수
100